<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--All Xpaths-->
    <add key="AngularJS_link" value="//a[text()='AngularJS']"/>
    <add key="ToDoBox" value="//input[@id='new-todo']"/>
    <add key="Element1" value="//*[@id='todo-list']/li/div/label"/>
    <add key="" value=""/>
    <add key="" value=""/>
    
  </appSettings>
</configuration>