<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--All Xpaths-->
    <add key="AngularJS_link" value="//a[text()='AngularJS']"/>
    <add key="ToDoBox" value="//input[@id='new-todo']"/>
    <add key="Element1" value="//*[@id='todo-list']/li[1]/div/label"/>
    <add key="Element2" value="//*[@id='todo-list']/li[2]/div/label"/>
    <add key="Element3" value="//*[@id='todo-list']/li[3]/div/label"/>
    <add key="Element4" value="//*[@id='todo-list']/li[4]/div/label"/>
    <add key="ExistingElement" value="//*[@id='todo-list']/li/form/input"/>
    <add key="checkBox1" value="//*[@id='todo-list']/li/div/input"/>
    <add key="completedTab" value="//*[@id='filters']/li[3]/a"/>
    <add key="mainCheckbox" value="//*[@id='toggle-all']"/>
    <add key="clearCompletedLink" value="//*[@id='clear-completed']"/>
    <add key="deleteFirstItem" value="//*[@id='todo-list']/li[1]/div/button"/>
    
  </appSettings>
</configuration>